In [1]:
#Task 4
class Students:
    def __init__(self, name, gender, id):
        self.name = name
        self.gender = gender
        self.id = id

p1 = Students("Ahmed", "male", 23)
print(p1.name, p1.gender, p1.id)

p2 = Students("Sara", "female", 12)
print(p2.name, p2.gender, p2.id)

Ahmed male 23
Sara female 12

In [2]:
#Task 2
def function(roll_number, rollNumbers):
    return roll_number in rollNumbers

rollNumbers = [40851, 40852, 40853, 40854, 40855]
check = 40852

if function(check, rollNumbers):
    print(f"Student with roll number {check} is present.")
else:
    print(f"Student with roll number {check} is absent.")

Student with roll number 40852 is present.

In [3]:
#Task 1
List = [7, 5, 3, 0, 2]

def Sumfunction(Input_List):
    total = 0
    for num in Input_List:
        total += num
    return total

result = Sumfunction(List)
print("The sum of the list is:", result)

The sum of the list is: 17

In [4]:
#Task 5
class Student:
    def __init__(self, name, age, grades):  # Corrected to __init__
        self.name = name
        self.age = age
        self.grades = grades

    def average(self):
        if not self.grades:
            return 0
        return sum(self.grades) / len(self.grades)

# Creating instances of Student
s1 = Student("Maryam", 22, [85, 90, 78, 92])
s2 = Student("Shiza", 20, [88, 76, 95])
s3 = Student("Aliza", 24, [70, 80, 90, 100])

# Print the average grades
print(f"{s1.name}'s average grade: {s1.average()}")
print(f"{s2.name}'s average grade: {s2.average()}")
print(f"{s3.name}'s average grade: {s3.average()}")

Maryam's average grade: 86.25
Shiza's average grade: 86.33333333333333
Aliza's average grade: 85.0

In [5]:
#Task 3
class Student:
    def __init__(self, name, id):
        self.name = name
        self.id = id

student1 = Student("Alisha", 11)

print(f"Name: {student1.name}")
print(f"Id: {student1.id}")

student1.name = "Ayesha"
student1.id = 12

print(f"Updated Name: {student1.name}")
print(f"Updated Id: {student1.id}")

Name: Alisha
Id: 11
Updated Name: Ayesha
Updated Id: 12